@model IEnumerable<FP.Models.About>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Mnage About Us</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ABOUTUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MISSION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VISSION)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ACHIVNEMT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ABOUTUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MISSION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VISSION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ACHIVNEMT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
